name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: dependencies
      # Found the missing dependencies `libxcb-shape0-dev`, and `libxcb-xfixes0-dev` here:
      # https://github.com/amethyst/amethyst/issues/1471#issue-419990927
      # In a solution by https://github.com/sunreef
      run: sudo apt-get install libxcb-shape0-dev libxcb-xfixes0-dev
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
